@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities{
  .focus_none{
    @apply bg-white rounded-none focus-visible:ring-0 focus:outline-none focus:ring-0 border-[#4F9F76]/50 border-b-[1px] 
  }
  .job_application_style{
    @apply rounded-xl w-full py-1 px-3  focus:outline-none focus-visible:ring-0 focus:ring-0 bg-[#F4F6FC]
  }
}